.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  text-align: center;
  width: 100%;
}

.generator, .document {
  border: solid lightpink;
  width: 49%;
}

.generatorSection {
  display: flex;
  flex-wrap: wrap;
  border: solid lightblue;
}

label {
  padding: 10px;
}



