* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  text-align: center;
  width: 100%;
}

.generator, .document {
  overflow-y: auto;
  overflow-x: auto;
}

input, textarea {
  margin-left: 10px
}

.generator {
  flex-grow: 1;
  margin: 10px;
  margin-bottom: 40px;
}

.document {
  width: 8.5in;
  padding: 0.5in;
  box-shadow: black 1px 1px 10px 1px;
}

.content > button {
  margin: 20px;
  box-shadow: black 1px 1px 10px 1px;
}

.generatorSection {
  display: flex;
  flex-wrap: wrap;
  border: solid grey;
}

label {
  padding: 10px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  background-color: #e3e9f1;
}

.document * {
  margin: 3px;
}

.date {
  text-align: right;
}

.document p {
  font-size: 16px;
}



